/* @import "./base.css" */

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(25, 50, 50);
  color: rgb(255, 255, 255);
  font-family: Verdana, Helvetica, Arial;
}

a, a:visited, a:hover {
  color: rgb(100, 150, 225);
}

#app {
  width: 100%;
  height: 100vh;
}

::selection, ::-moz-selection {
  background: rgb(70, 150, 150);
}
